// bower:scss
// endbower
@import "../modules/foundation/scss/foundation";
@import "animate.min";
@import "font-awesome";
@import "foundation-icons";
@import "tools";
@import "../components/parallax/parallax";
@import "../modules/angular-component/angular-material";
@import "../components/header/headerStyle";
@import "../components/large-home/largeHome";
@import "../components/events/events";


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

//miniatures//
.block_min:hover>.img_min>div.toGrow{
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.block_min{
  margin:0 auto;
  box-shadow: 1px 1px 12px -5px rgba(85, 85, 85, 0.59);
  width:100%;
  border-radius: 0 0 3px 3px;
  color: black;
  max-height:100%;
  -webkit-transition: 0.4s, -webkit-transform 0.4s ease-in-out;
  -moz-transition: 0.4s, -moz-transform 0.4s ease-in-out;
  -o-transition: 0.4s, -o-transform 0.4s ease-in-out;
  -ms-transition: 0.4s, -ms-transform 0.4s ease-in-out;
  transition: 0.4s, transform 0.4s ease-in-out;
}

.block_min:hover{
  box-shadow: 1px 1px 12px -1px rgba(85, 85, 85, 0.59);
}

.img_min{
  width:100%;
  overflow: hidden;
  position: relative;
  height: 160px;
}

.minTitle {
  height: 1.4em;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.4);
  margin: auto auto;
  position: absolute;
  right: 0;
  color: white;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;                                                                                                                                                                                                                                                                                                                                                                                                                        border-bottom: solid 4px rgb(0, 140, 186);
  text-align: left;
  left: 0;
  margin-top: -26px;
}

.minFilter:hover {
  cursor: pointer;
  text-decoration: underline;
}

.img-circularPlayer:hover > .playInImg {
  display: block;
}
.img-circularPlayer{
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  margin: 5px;
  float: left;
}

/* Space out content a bit */
html, body, #contener { height: 100%;}
html {overflow-x: hidden;}
body > #contener { height: auto; min-height: 100%; overflow: hidden;}
body {padding-bottom: 0; color: #5a5a5a;}

/* Everything but the jumbotron gets side spacing for mobile first views */



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .iClose, .img-circularPlayer, .playInImg {
    display: block;
  }
}
