// bower:scss
// endbower
@import "../modules/foundation/scss/foundation";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
html, body, #contener { height: 100%;}
html {overflow-x: hidden;}
body > #contener { height: auto; min-height: 100%; overflow: hidden;}
body {padding-bottom: 0; color: #5a5a5a;}

/* Everything but the jumbotron gets side spacing for mobile first views */



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
}
